.home {
	@include backImage('http://placehold.it/960x600');
	font-family: $font-stack;
	color: $font-color;
}
.portfolios {
	@include backImage('http://placehold.it/960x600/ff0000');
	font-family: $font-stack;
	color: $font-color;
}

p{
	font-family: $font-tada;
}

h1,
h2,
h3 {
	font-family: $font-heading;
}

a{
	font-family: $font-links;
}

nav{
	border: 1px solid $font-color;
	padding:10px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding-right:20px;
			a {
				text-decoration: none;
				font-family: $font-links;
			} //a
			a:link,
			a:visited {
				color:black;
			} // a link visited
			a:hover,
			a:active{
				color:yellow;
				background: black;
			} //a hover active
		} //li
	} //ul
} //nav

//nest
.portfolio {
	li {
		float: left;
		padding-right: 50px;
		min-height: 150px;
		list-style: none;
			img {
				@include border-radius(10%);
			}//img
	}//li
}//portfolio