@import url(https://fonts.googleapis.com/css?family=Rokkitt|Abel|Ubuntu+Mono);

$font-stack: helvetica, serif;
$font-tada: 'Ubuntu Mono', monospace;
$font-heading: 'Rokkitt', serif;
$font-links: 'Abel', sans-serif;

$bg-color: rgba(230,230,230,0.9);
$font-color:rgba(1,1,1,0.9);

